# Visual Studio 2019
.vs/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# Visual Studio code coverage results
*.coverage
*.coveragexml

# Tye
.tye/

# NCrunch
_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*

# Rider
.idea/
*.sln.iml

# Resharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Rider
.idea/

# Test files
*.testsettings
!DeployScript.ps1
!DeployScript.targets

# Web workbench (sass)
.sass-cache/

# Installer logs
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*

# DotCover
*.dotCover

# AxoCover
.axoCover/*
!.axoCover/settings.json

# Coverlet
coverage/

# End of Visual Studio specific files and folders

# .NET Core
## Ignore the NuGet packages folder
## Never check-in this folder to version control
packages/

## Ignore the Visual Studio temporary files and build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

## Ignore the Rider files
.idea/
*.sln.iml
